
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
    margin:0; 
}

/* NAVBAR */

.navlist{
display:flex;
gap:3rem;
justify-content:center;
align-items:center;
padding: 20px 0;
background:linear-gradient(#150808,#683636,#601f1f);
width: 100%;
height: 80px;
z-index: 1000;
position:fixed;
top:0;
}

.navlist li{
list-style:none;
}

.navlist li a{
text-decoration:none;
color:#f3e1e1;
font-size:1rem;
position:relative;
}

.navlist li a::after{

content:"";
position:absolute;
width:0;
height:2px;
background:white;
left:0;
bottom:-5px;
transition:0.3s;
}

.navlist li a:hover::after,
.navlist .active::after{

width:100%;
}

/* MAIN CONTAINER */

.portfolio-container{
min-height:100vh;
width:100%;
background:linear-gradient(
90deg,
#160505 0%,
#5a3535 50%,
#7b4040 75%,
#744b4b 100%
);

color:white;
}

/* LOGO */

.logo{

position:absolute;
top:90px;
left:15px;

padding:10px 25px;

border:2px solid #210f0f;
border-radius:30px;

background:#755c5c;
color:#210f0f;

font-weight:600;
}

/* HOME CONTENT */

.home-content{

display:flex;
align-items:center;
justify-content:space-between;

padding:120px 80px;
}

/* ICONS */

.icons{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:0.5rem;
}

.icons a{
    font-size:2.8rem;
    cursor:pointer;

    background: linear-gradient(#f8b8b8, #a7bfef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition:0.3s;
}

.icons a:hover{
    -webkit-text-fill-color:#fff1f1;
    transform: scale(1.2);
}
/* TEXT CONTENT */
.content{
    margin-left: 3rem;
}

.content h1{

font-size:2.2rem;
color:#f9d3d3;
margin-left: 5rem;   
}

.intro{

font-size:1.5rem;
color: #e1d9d9;
margin-top: 2rem;
}

.intro span{

color:#f7a6a6;
}

.detail{
font-size: 1.1rem;
    color: #fff;
    max-width: 36rem;
    margin: 1rem 0 3rem 0;
    line-height: 1.8rem;
}

/* BUTTONS */

.home-buttons{

display:flex;
gap:20px;
margin-top: 20px;
align-items: center;
}

.btn{

padding:12px 35px;
border-radius:12px;

text-decoration:none;
font-size:16px;

cursor:pointer;
transition:0.3s;
font-weight: 500;
}

.primary-btn{

background:#d6c0c0;
border:none;
color:#2e0b0b;
}

.primary-btn:hover{

background:transparent;
border:2px solid #d6c0c0;
color:#d6c0c0;
}

.outline-btn{
     background: transparent;
    border: 2px solid #bababa;
    color: #bababa;
}


.outline-btn:hover{

background:#bababa;
color:#2e0b0b;
transform: translateY(-4px);
}
/* PROFILE IMAGE */

.profile-image img{
width: 30rem;
height: 30rem;   
border-radius:15px;
border:4px solid #b5b0b0;

box-shadow:
0 0 15px #f9a2a2,
inset 0 0 15px #efc9c9;
}

/* Custom Scrollbar */

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-track{
    background: #817f7f;
}

body::-webkit-scrollbar-thumb{
    background: #ffe2da;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover{
    background: #281510;
}

/*  HIRE buttom  */
.hire-page{
    background: linear-gradient(to bottom right, #ffffff, #f7f3f0);
    overflow-y: scroll;
}


/*  HIRE SECTION  */

.hire-section{
    padding: 140px 10% 80px 10%;
    color: #3a1f1f;
     min-height: 150vh;
}

.hire-section h1{
    font-size: 42px;
    margin-bottom: 10px;
}

.hire-intro{
    margin-bottom: 50px;
    color: #6b4c4c;
}

/* BOXES */

.hire-box-container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.hire-box{
    flex: 1;
    min-width: 250px;
    padding: 30px;
    border-radius: 15px;
    background: #f1e6e1;  
    border: 1px solid #e4cfc8;
    transition: 0.3s ease;
}

.hire-box:hover{
    transform: translateY(-6px);
    background: #ead8d2;
}

/* FORM */

.hire-form{
    margin-top: 40px;
}

.hire-form h2{
    text-align: center;  /* Start a Project center */
    margin-bottom: 30px;
}

.hire-form form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 500px;
    margin: auto;   
}

/* Input fields */

.hire-form input,
.hire-form textarea{
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #421909;
    background: #d7c5c5;   
    color: #2e0b0b;
    outline: none;
    font-size: 14px;
}

.hire-form input:focus,
.hire-form textarea:focus{
    border-color: #110801;
}

/* Submit Button */

.hire-form button{
    margin: 20px auto 0 auto;  /* center button */
    display: block;
    padding: 12px 35px;
    border-radius: 8px;
    border: none;
    background: #d9a79b;
    color: #3a1f1f;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.hire-form button:hover{
    background: #3a1f1f;
}

/* PROJECT and project button */

.projects-page{
    min-height: 100vh;
    padding: 80px 100px;
    background: linear-gradient(135deg, #331616, #5e4141,#3b1f1fa0);
    color: white;
}

.projects-title{
   font-size: 3.2rem;
    margin-top: 100px;   
    margin-bottom: 3px;
    font-weight: 500;
    text-align: center;
}

.projects-title span{
    color: #f3c6c6;
    
    }
.projects-subtitle::before{
    content: "➤ ";
    color: #f3c6c6;
    margin-right: 10px;
}
.projects-subtitle{
    margin-bottom: 20px;
    opacity: 1.8;
}

.project-card{
    background: rgba(245, 229, 229, 0.08);
    border-radius: 25px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    transition: 0.3s;
    border-left: 6px solid #ded5d5;
}

.project-card:hover{
    transform: translateX(10px);
    background: rgba(255, 255, 255, 0.218);
}

.project-info h2 a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.project-info h2 a:hover{
    color: #f3c6c6;
}

.project-info p{
    margin: 5px 0 10px;
    font-size: 0.95rem;
    opacity: 0.8;
}

.project-info a{
    color: #fcf8f8;
    text-decoration: none;
}

.project-info a:hover{
    text-decoration: underline;
}

.tech-tag{
    background: #f3c6c6;
    color: #5b3030;
    padding: 8px 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.85rem;
} 
 .github-link{
    display:inline-flex;
    align-items:center;
    gap:8px;
    margin-top:10px;
    padding:8px 18px;
    border-radius:20px;
    border:2px solid #d4c9c9;
    color:#b48d8d;
    text-decoration:none;
    font-weight:500;
    transition:0.3s;
}

.github-link:hover{
    background:#382f2f;
    color:#6f6262;
}

.github-icon{
    font-size:1.1rem;
}

.github-link:hover{
    text-decoration: underline;
    color: rgb(186, 162, 162);
}

/* SKILLS */

.skills-container{
    min-height: 100vh;
    background: linear-gradient(135deg,#5f3c3c, #8e5d5d,#835656);
    color: rgb(255, 240, 240);
    position: relative;
}

.skills-page{
    padding: 180px 100px 80px;
}
.skills-title::before{
    content: "✦";
    color: rgb(255, 240, 240);
    margin-right: 10px;
    font-size: 1.5rem;
}
.skills-title{
    font-size: 2.4rem;
    margin-bottom: 45px;
}

.skills-title.second{
    margin-top: 50px;
}

.skills-box{
     background: rgba(255, 245, 245, 0.08);
    border-radius: 40px;
    padding: 20px 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 2px;
    transition: 0.3s;
    border-left: 5px solid #f0e7e7;
}

.skills-box span{
    padding: 10px 25px;
    border: 2px solid #f4cbcb;
    border-radius: 25px;
    color: #f4cbcb;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: default;
}

.skills-box span:hover{
    background: #f4cbcb;
    color: #412121;
    transform: scale(1.05);
}

/* contact*/

.contact-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;

    background: linear-gradient(150deg,#69372b, #916464,#b46e6e)
}

.contact-content{
    text-align: center;
}

.contact-content h1{
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    margin-top: 10rem;      
    color: rgb(59, 21, 21);
}

.contact-box{
    background: rgba(255,255,255,0.15);
    padding: 30px;
    border-radius: 35px;
    width: 520px;
    margin: 40px auto;
    backdrop-filter: blur(5px);
}

.contact-info{
    font-size: 1.2rem;
     color: rgb(255, 248, 248);
     line-height: 2;
     margin-bottom: 0.5rem;
}

/* ICONS */

.contact-icons{
    display:flex;
    flex-direction:row;
    justify-content: center;   
    align-items: center;
    gap:3.5rem;
    margin-top: 50px;
}

.contact-icons a{
    font-size:3.8rem;
    cursor:pointer;

    background: linear-gradient(#f0dddd, #acc3f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition:0.3s;
}

.contact-icons a:hover{
    -webkit-text-fill-color:#fff1f1;
    transform: scale(1.2);
}  